<div>
    <div class="switch" ng-show="eyeSwitch">
        <button type="button" class="btn" aria-label="Left Align" ng-click="toggle = false">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn" aria-label="Left Align" ng-click="toggle = true">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </button>
    </div>
    <div class="wraper container">
        <header class="row">
            <div class="col-md-2 col-sm-12">
                <img src="styles/img/headshot.jpg" alt="Igor Smyrnov">
            </div>
            <div class="col-md-6 col-sm-12">
            <form editable-form name="nameSurnamePosition" onaftersave="saveUser()">
                <h1 editable-text="myData.name_surname" e-name="name">{{myData.name_surname || 'empty'}}</h1>
                <h2 editable-text="myData.position">{{myData.position || 'empty'}}</h2>
                <div class="buttons">
                    <!-- button to show form -->
                    <button type="button" class="btn btn-default" ng-click="nameSurnamePosition.$show()" ng-show="!nameSurnamePosition.$visible && toggle">
                        Edit
                    </button>
                                        
                    <!-- buttons to submit / cancel form -->
                    <span ng-show="nameSurnamePosition.$visible">
                        <button type="submit" class="btn btn-primary" ng-disabled="nameSurnamePosition.$waiting">
                            Save
                        </button>
                        
                        <button type="button" class="btn btn-default" ng-disabled="nameSurnamePosition.$waiting" ng-click="nameSurnamePosition.$cancel()">
                            Cancel
                        </button>
                    </span>
                </div>
            </form>
            </div>
            <div class="col-md-4 col-sm-12">
				<form editable-form name="contactData" onaftersave="saveUser()">
					<ul>
						<li>Email: 
							<a editable-text="smyrnovai@gmail.com" href="mailto:smyrnovai@gmail.com">smyrnovai@gmail.com</a>
						</li>
						<li>Telefon: 
							<span editable-text="+48 880-026-310">+48 880-026-310</span>
						</li>
					</ul>
					<div class="buttons">
						<!-- button to show form -->
						<button type="button" class="btn btn-default" ng-click="contactData.$show()" ng-show="!contactData.$visible && toggle">
							Edit
						</button>

						<!-- buttons to submit / cancel form -->
						<span ng-show="contactData.$visible">
							<button type="submit" class="btn btn-primary" ng-disabled="contactData.$waiting">
								Save
							</button>

							<button type="button" class="btn btn-default" ng-disabled="contactData.$waiting" ng-click="contactData.$cancel()">
								Cancel
							</button>
						</span>
                	</div>
				</form>
            </div>
        </header>
        <main>
            <section class="row">
                <div class="col-md-3">
                    <h1>Wykształcenie:</h1>
                </div>
                <div class="col-md-9">
                    <article>
                        <h2>WSIU</h2>
                        <p class="years">2012 - aktualnie</p>
                        <ul>
                            <li>Kierunek: Informatyka i zarządzanie</li>
                        </ul>
       
                    </article>  
                    <article>
                        <h2>WSIU</h2>
                        <p class="years">2012 - aktualnie</p>                        
                        <ul>
                            <li>Kierunek: Informatyka i zarządzanie</li>
                        </ul>
       
                    </article>                    
                </div>
            </section>
            <section class="row">
                <div class="col-md-3">
                    <h1>Umiejętności zawodowe:</h1>
                </div>
                <div class="col-md-9">
                    <article>
                        <span class="skill">Sass</span>
                        <span class="skill">Sass</span>
                        <span class="skill">Sass</span>
                        <span class="skill">Sass</span>
                        <span class="skill">Sass</span>
                    </article>                    
                </div>
            </section>
            <section class="row">
                <div class="col-md-3">
                    <h1>Umiejętności językowe:</h1>
                </div>
                <div class="col-md-9">
                    <article>
                        <div class="lang">Polski - biegły</div>
                        <div class="lang">Polski - biegły</div>
                        <div class="lang">Polski - biegły</div>
                    </article>                    
                </div>
            </section>
            <section class="row">
                <div class="col-md-3">
                    <h1>Zainteresowania:</h1>
                </div>
                <div class="col-md-9">
                    <article>
                        <p>W wolnej chwili lubię rysować, uprawiać sport, uczyć się nowych rzeczy ze świata web technologii i zarządzania.</p>
                    </article>                    
                </div>
            </section>
        </main>
        <footer>
            <p>Wyrazam zgode na przetwarzanie moich danych osobowych w celach rekrutacji, zgodnie z Ustawa z dn. 29 sierpnia 
            1997 r. o ochronie danych osobowych (Dz. U. z 2002 r. Nr 101, poz. 926 z pozniejszymi zmianami).</p>
        </footer>
    </div>
</div>