<div ng-controller="home">
    <div class="switch" ng-show="eyeSwitch">
        <button type="button" class="btn" aria-label="Left Align" ng-click="toggle = false">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn" aria-label="Left Align" ng-click="toggle = true">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </button>
    </div>
    <div class="wraper container">
        <header class="row">
            <div class="col-md-2 col-sm-12">
                <img src="styles/img/headshot.jpg" alt="Igor Smyrnov">
            </div>
            <div class="col-md-6 col-sm-12">

            <form editable-form name="nameSurnamePosition" onaftersave="saveUser()">
                <h1 editable-text="personal.personalData.name" e-name="name">{{personal.personalData.name}}</h1>
                <h2 editable-text="personal.personalData.position">{{personal.personalData.position}}</h2>
                <div class="buttons">
                    <!-- button to show form -->
                    <button type="button" class="btn btn-default" ng-click="nameSurnamePosition.$show()" ng-show="!nameSurnamePosition.$visible && toggle">
                        Edit
                    </button>
                                        
                    <!-- buttons to submit / cancel form -->
                    <span ng-show="nameSurnamePosition.$visible">
                        <button type="submit" class="btn btn-primary" ng-disabled="nameSurnamePosition.$waiting">
                            Save
                        </button>
                        
                        <button type="button" class="btn btn-default" ng-disabled="nameSurnamePosition.$waiting" ng-click="nameSurnamePosition.$cancel()">
                            Cancel
                        </button>
                    </span>
                </div>
            </form>
            </div>
            <div class="col-md-4 col-sm-12">
				<form editable-form name="contactData" onaftersave="saveUser()">
					<ul>
						<li>Email: 
							<a editable-text="personal.personalData.email" href="mailto:{{personal.personalData.email}}">{{personal.personalData.email}}</a>
						</li>
						<li>Telefon: 
							<span editable-text="personal.personalData.phonenumber">{{personal.personalData.phonenumber}}</span>
						</li>
					</ul>
					<div class="buttons">
						<!-- button to show form -->
						<button type="button" class="btn btn-default" ng-click="contactData.$show()" ng-show="!contactData.$visible && toggle">
							Edit
						</button>

						<!-- buttons to submit / cancel form -->
						<span ng-show="contactData.$visible">
							<button type="submit" class="btn btn-primary" ng-disabled="contactData.$waiting">
								Save
							</button>

							<button type="button" class="btn btn-default" ng-disabled="contactData.$waiting" ng-click="contactData.$cancel()">
								Cancel
							</button>
						</span>
                	</div>
				</form>
            </div>
        </header>
        <form editable-form name="addCat" onaftersave="addCategory()">
            <button type="button" class="btn btn-default" ng-click="addCat.$show()" ng-show="!addCat.$visible && toggle">
                Add Category
            </button>
             <span ng-show="addCat.$visible">
                 <input name="nameCat" ng-model="newCat.name" type="text" placeholder="name"/>
                 <button type="submit" id="submit" class="btn btn-primary" ng-disabled="addCat.$waiting">
                     Add
                 </button>

                 <button type="button" class="btn btn-default" ng-disabled="addCat.$waiting" ng-click="addCat.$cancel()">
                     Cancel
                 </button>
             </span>
        </form>
        <main ng-repeat="section in sections">
            <section class="row">
                <div class="col-md-3">
                    <h1>{{section.name}}:</h1>
                </div>
                <div class="col-md-9">
                    <article ng-repeat="records in section.records" ng-if="section.type==1">
                        <div ng-repeat="fields in records.fields">
                            <span class="cat-{{fields.type}}">{{fields.value}}</span>
                        </div>
                    </article>

                    <article ng-if="section.type==2">
                         <span ng-repeat="records in section.records">
                             <span class="skill" ng-repeat="fields in records.fields">{{fields.value}}</span>
                         </span>
                    </article>

                    <article ng-if="section.type==3">
                             <p ng-repeat="fields in section.records[0].fields">{{fields.value}}</p>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            <p>Wyrazam zgode na przetwarzanie moich danych osobowych w celach rekrutacji, zgodnie z Ustawa z dn. 29 sierpnia 
            1997 r. o ochronie danych osobowych (Dz. U. z 2002 r. Nr 101, poz. 926 z pozniejszymi zmianami).</p>
        </footer>
    </div>
</div>