<div ng-controller="adminCtrl">
    <div class="wraper container">
        <header class="row">
            <div class="col-md-2 col-sm-12">
                <img src="headshot.jpg" alt="Igor Smyrnov">
            </div>
            <div class="col-md-6 col-sm-12">
                <h1>Igor Smyrnov</h1>
                <h2>Front-end developer</h2>
            </div>
            <div class="col-md-4 col-sm-12">
                <ul>
                    <li>Email: <a href="mailto:smyrnovai@gmail.com">smyrnovai@gmail.com</a></li>
                    <li>Telefon: +48 880-026-310</li>
                </ul>
            </div>
        </header>
        <main>
            <section class="row">
                <div class="col-md-4">
                    <h1>Wykształcenie</h1>
                </div>
                <div class="col-md-8">
                    <article>
                        <h2>WSIU</h2>
                        <p class="years">2012 - aktualnie</p>
                        <ul>
                            <li>Kierunek: Informatyka i zarządzanie</li>
                        </ul>
                    </article>  
                    <article>
                        <h2>WSIU</h2>
                        <p class="years">2012 - aktualnie</p>                        
                        <ul>
                            <li>Kierunek: Informatyka i zarządzanie</li>
                        </ul>
                    </article>                    
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                    <h1>Doświadczenie zawodowe</h1>
                </div>
                <div class="col-md-8">
                    <article>
                        <h2>WSIU</h2>
                        <p class="years">2012 - aktualnie</p>                        
                        <ul>
                            <li>Kierunek: Informatyka i zarządzanie</li>
                        </ul>
                    </article>  
                    <article>
                        <h2>WSIU</h2>
                        <p class="years">2012 - aktualnie</p>                        
                        <ul>
                            <li>Kierunek: Informatyka i zarządzanie</li>
                        </ul>
                    </article>                    
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                    <h1>Umiejętności zawodowe</h1>
                </div>
                <div class="col-md-8">
                    <article>
                        <span class="skill">Sass</span>
                        <span class="skill">Sass</span>
                        <span class="skill">Sass</span>
                        <span class="skill">Sass</span>
                        <span class="skill">Sass</span>
                    </article>                    
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                    <h1>Umiejętności osobiste</h1>
                </div>
                <div class="col-md-8">
                    <article>
                        <span class="skill">Ambicja</span>
                        <span class="skill">Ambicja</span>
                        <span class="skill">Ambicja</span>
                        <span class="skill">Ambicja</span>
                    </article>                    
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                    <h1>Umiejętności językowe:</h1>
                </div>
                <div class="col-md-8">
                    <article>
                        <div class="lang">Polski - biegły</div>
                        <div class="lang">Polski - biegły</div>
                        <div class="lang">Polski - biegły</div>
                    </article>                    
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                    <h1>Zainteresowania:</h1>
                </div>
                <div class="col-md-8">
                    <article>
                        <p>W wolnej chwili lubię rysować, uprawiać sport, uczyć się nowych rzeczy ze świata web technologii i zarządzania.</p>
                    </article>                    
                </div>
            </section>
        </main>
        <footer>
            <p>Wyrazam zgode na przetwarzanie moich danych osobowych w celach rekrutacji, zgodnie z Ustawa z dn. 29 sierpnia 
            1997 r. o ochronie danych osobowych (Dz. U. z 2002 r. Nr 101, poz. 926 z pozniejszymi zmianami).</p>
        </footer>
    </div>
</div>